
.hero {
    padding: 0 1rem;
    margin-bottom: 6rem;
    text-align: center
}

.text {
    background: linear-gradient(93.23deg, #f778ba 2.35%, #79c0ff 76.99%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
}

.hero--title {
    font-family: sans-serif;
    font-size: 4rem;
    font-weight: 800;
    letter-spacing: 1px;
    margin: 4rem 0 2rem 0;
    text-align: center;
    @media screen and (max-width: 768px) {
        font-size: 2rem;
    }
}

.hero--subtitle {
    font-family: sans-serif;
    font-size: 1.4rem;
    font-weight: 300;
    padding: 0 15rem;
    letter-spacing: 0.9px;
    text-align: center;
    @media screen and (max-width: 768px) {
        font-size: 1rem;
    }
}

.btn {
    background: #fff;
    border: 1px solid #fff;
    border-radius: 7px;
    color: #121023;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 600;
    margin: 2rem 0.9rem;
    padding: 0.7rem 1.5rem;
    transition: all 0.3s ease-in-out;
    &:hover {
        background: linear-gradient(93.23deg, #79c0ff 2.35%, #f778ba 76.99%);
    }
}