.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10rem;
    color: #fff;
    .footer-right {
        display: flex;
        align-items: center;
    }
    .footer-right a {
        color: #fff;
        margin: 0 0.8rem;
        font-size: 1rem;
        transition: all 0.3s ease-in-out;
        &:hover {
            color: #79c0ff;
        }
    }
}